BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AccessModifierOffset: -4
IndentCaseLabels: true
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4
BreakBeforeBinaryOperators: None
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
InsertBraces: true
SpacesBeforeTrailingComments: 2
FixNamespaceComments: true
NamespaceIndentation: None
IncludeBlocks: Preserve
SortIncludes: Never
AllowShortEnumsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
